.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: url(../img/background.jpg) no-repeat;
  animation: 1s normal backgroundAnimation;
  background-size: cover;
}
.container::before{
  content: "";
  height: 100vh;
  width: 100vw;
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.2);
}
@keyframes backgroundAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.backgroundAnimation {
  animation: .5s forwards backgroundReverseAnimation;
}
@keyframes backgroundReverseAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: #FFF;
  }
}
.container div {
  margin-top: 8rem;
  display: flex;
  gap: 3rem;
  z-index: 2;
}
.container h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  animation: 1.2s normal titleAnimation;
  transition: 0.4s all;
  z-index: 2;
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  20% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.title {
  opacity: 0;
  transform: translateX(5rem);
}
.container p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  animation: 1.2s normal subTitleAnimation;
  transition: 0.4s all;
  z-index: 2;
}
@keyframes subTitleAnimation {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  20% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.subtitle {
  opacity: 0;
  transform: translateX(-5rem);
}
.btn {
  background-color: #008000;
  padding: 1rem 4rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  animation: 1.2s normal buttonAnimation;
  transition: 0.4s all; 
}
@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  50% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.buttonAnimation {
  opacity: 0;
  transform: translateY(5rem);
}
.btn:hover {
  background-color: #3c7404;
}
@media (min-width: 700px) {
  .container div {
    gap: 10rem;
  }
  .container h1 {
    font-size: 10rem;
  }
  .container p {
    font-size: 2rem;
    width: 60rem;
  }
}
