.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  overflow: hidden;
}
.containerProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin: 2.5rem;
}
.containerProductsInformation {
  animation: 1.3s normal productAnimation;
}
@keyframes productAnimation {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  10% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.productAnimation {
  animation: 0.5s forwards productAnimationReverse;
}
@keyframes productAnimationReverse {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    transform: translateX(-5rem);
  }
}
.containerImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 26rem;
  animation: 1.3s normal productImgAnimation;
  transition: 0.4s all;
  gap: 2rem;
}
@keyframes productImgAnimation {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  10% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.productImgAnimation {
  animation: 0.5s forwards productImgAnimationReverse;
}
@keyframes productImgAnimationReverse {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    transform: translateX(5rem);
  }
}
.containerProducts h4 {
  font-size: 2rem;
  animation: 0s;
}
.containerProducts p {
  font-size: 1.4rem;
  width: 30rem;
  padding: 1rem 0;
  animation: 0s;
}
.containerProducts span {
  font-size: 2rem;
  animation: 0s;
}
.product {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0 auto;
  grid-column: span 3;
}
.containerProduct {
  display: flex;
}
.secondProduct {
  background-color: #00ffff33;
  display: grid;
  place-content: center;
  width: 6rem;
  margin: auto 0;
  height: 8.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all 1.5s;
  transform: translate(0px, 0px) scale(1);
}
.secondAnimation {
  transform: translate(8rem, -19rem) scale(3);
}
.thirdAnimation {
  transform: translate(-8rem, -19rem) scale(3);
}
.firstProduct {
  display: grid;
  place-content: center;
  width: 6rem;
  margin: auto 0;
  height: 8.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  background-color: rgba(0, 255, 13, 0.3);
  cursor: pointer;
  transition: all 1.5s;
  transform: translate(0px, 0px) scale(1);
}
.firstanimation {
  transform: translate(0rem, -19rem) scale(3);
  z-index: 3;
}
.img {
  margin: 1rem auto 0;
  width: 2rem;
  height: 6rem;
}
.containerProducts .change > * {
  animation: 1.5s forwards changeAnimation;
}
@keyframes changeAnimation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 200;
}
@media (min-width: 900px) {
  .containerProducts {
    flex-direction: row;
  }
  .containerImg {
    width: 57rem;
    margin-top: 3rem;
    grid-template-columns: 1fr 13rem;
    grid-template-rows: repeat(2, 12rem);
  }
  .containerProducts h4 {
    font-size: 2.5rem;
  }
  .containerProducts p {
    font-size: 1.5rem;
    width: 40rem;
    padding: 4rem 0;
  }
  .containerProducts span {
    font-size: 2.5rem;
  }
  .product {
    grid-column: auto;
    grid-row: span 3;
  }
  .secondProduct {
    width: 10rem;
    height: 11.5rem;
    margin: 3rem;
  }
  .firstProduct {
    width: 10rem;
    margin: 3rem;
    height: 11.5rem;
  }
  .img {
    margin: 1rem 0 0;
    width: 10rem;
    height: 8rem;
    object-fit: contain;
  }
  .firstanimation {
    transform: translate(-20rem, 0rem) scale(2.5);
    z-index: 3;
  }
  .secondAnimation {
    transform: translate(-20rem, 14rem) scale(2.5);
    z-index: 3;
  }
  .thirdAnimation {
    transform: translate(-20rem, -14rem) scale(2.5);
    z-index: 3;
  }
}
@media (min-width: 1000px) {
  .containerImg {
    flex-direction: row;
    margin-top: 0;
  }
  .containerProduct {
    flex-direction: column;
  }
  .firstanimation {
    transform: translate(-28.5rem, 0rem) scale(3);
  }
  .secondAnimation {
    transform: translate(-28.5rem, 15rem) scale(3);
  }
  .thirdAnimation {
    transform: translate(-28.5rem, -15rem) scale(2.5);
  }
}
