.button {
  width: 3rem;
  height: 1.5rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: transparent;
  border: none;
  z-index: 4;
  cursor: pointer;
}
.icon,
.icon::after,
.icon::before {
  width: 3rem;
  height: 0.5rem;
  background-color: #4a9104;
  position: absolute;
}
.icon::after {
  content: "";
  top: -0.9rem;
  right: 0rem;
}
.icon::before {
  content: "";
  top: 0.9rem;
  right: 0rem;
}
.links {
  width: 60vw;
  height: 100vh;
  background-color: #ffff9e;
  position: fixed;
  right: -65vw;
  transition: 1s all;
  z-index: 10;
}
.show {
  right: 0;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(83, 83, 83, 0.3);
  z-index: 1;
}
.links div:first-child {
  position: absolute;
  top: 2rem;
  right: 2rem;
  fill: #4a9104;
  cursor: pointer;
}
.links ul {
  margin: 7rem 0;
}
.links ul li {
  text-align: center;
  margin-top: 3rem;
}
.links ul li a {
  color: #4a9104;
  font-size: 2rem;
  font-weight: 600;
}
.links ul li a:hover {
  color: #455e14
}
.links div:last-child {
  display: flex;
  justify-content: center;
  gap: 7rem;
}
.links button {
  background-color: transparent;
  border: none;
  color: #4a9104;
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}
.links button:hover {
  color: #455e14;
  border-bottom: 4px solid #455e14;
}
.links .checked {
  color: #455e14;
  border-bottom: 4px solid #ffff9e;
}
@media (min-width: 1000px) {
  .nav{
    animation: 1.5s normal NavAnimation;
  }
  @keyframes NavAnimation {
    0%{
      transform: translateY(-5rem);
      opacity:0
    }
    100%{
      transform: translateY(0rem);
      opacity: 1;
    }
  }
  .icon {
    display: none;
  }
  .links {
    background-color: transparent;
    right: 0;
    top: 0;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .links ul {
    display: flex;
    gap: 6rem;
    justify-content: center;
    margin: 3rem 0 3rem 20%;
    width: 80%;
  }
  .links ul li {
    margin-top: 0;
  }
  .links div:first-child {
    display: none;
  }
  .links button {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .links div:last-child {
    width: 20%;
    margin: 0 10% 0 0;
    gap: 2rem;
  }
  .links ul li a:hover {
    color: #ffff9e;
  }
  .links button {
    border-bottom: 4px solid transparent;
  }
  .links button:hover {
    color: #ffff9e;
    border-bottom: 4px solid #ffff9e;;
  }
  .links .checked {
    color: #ffff9e;;
    border-bottom: 4px solid transparent;
  }
  @media (min-width: 1440px) {
    .links {
      width: 144rem;
      right: auto;
    }
    .nav{
      display: flex;
      justify-content: center;
    }
  }
}