.map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  animation: 1s forwards mapAnimation;
  opacity: 1;
  transition: 0.4s all;
  overflow: hidden;
}
.icon{
  margin: -0.5rem 0 0 -0.5rem;
  fill:rgb(0, 114, 0);
}
.pageMap {
  animation: 1s forwards mapAnimation;
  transition: 0.4s all;

}
@keyframes mapAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mapAnimation {
  animation: 0.5s forwards mapAnimationReverse;
}
@keyframes mapAnimationReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup p {
  font-size: 5rem;
}
@media (min-width: 1000px) {
  .map {
    height: 85vh;
  }
  .pageMap{
    padding-top: 10.5rem;
  }
}
